
.add-lane, .lane__add-note button {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
}

.lane {
  display: inline-block;
  margin: 1em;

  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 10em;
  vertical-align: top;

  &__header {
    overflow: auto;
    padding: 1em;

    color: #efefef;
    background-color: #333;

    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  &__name {
    float: left;
  }

  &__add-note {
    float: right;
    margin-left: 0.5em;
  }
}

